body{
  font-family: 'Noto Sans', sans-serif;
}

.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App .Header{
  height: 185px;
  width: 100%;
  background-color: lightblue;
  margin-bottom: 30px;
}

.App .Content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.App .Content .One{
  width: 22%;
  height: 200px;
  background-color: khaki;
  margin-bottom: 30px;
  text-align: center;
}

