body{
  font-family: 'Noto Sans', sans-serif;
}

.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App .Header{
  height: 185px;
  width: 100%;
  background-color: lightblue;
  margin-bottom: 30px;
}

.App .Content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.App .Content .One{
  width: 22%;
  height: 200px;
  background-color: khaki;
  margin-bottom: 30px;
  text-align: center;
}


.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}